body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    height: 860px;
    width: 100%;
    background-color: #673AB7;
    background-image: url(images/pexels-dan-cristian-pădureț-1193743.jpg);
    background-size: 100% 100%;
}
header h1 {
    margin: 0px;
    font-size: 5rem;
    color: #512DA8;
}

header nav {
    margin: 0px;
}

header nav ul {
    margin: 0px;
    justify-content: flex-end;
    padding-top:38px;
}

header nav li {
    display: inline;
    padding-left: 30px;
}

header nav li a {
    text-decoration: none;
    color: #512DA8;
    width: 120px;
}