html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100px;
    height: 100%;
    display: grid;
}

header h1 {
    transform: rotate(270deg);
    width: 20px;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}